[data-role="menu-tab"] .legende {
    font-size: inherit;
    
    input[type="text"] {
        display: block;
        width: 100%;
    }

    input[type="number"] {
        display: inline-block;
        width: 4em;
        text-align: right;
    }

    #other_input {
        display: inline-block;
        position: relative;
    }

}